---
import { Icon } from 'astro-icon/components';
import { SITE } from 'astrowind:config';
---

<span
  class="self-center ml-2 rtl:ml-0 rtl:mr-2 flex items-center gap-2 text-4xl md:text-3xl font-bold text-gray-900 whitespace-nowrap dark:text-white"
>
  <Icon name="tabler:stethoscope" class="w-8 h-8 md:w-7 md:h-7 flex-shrink-0" />
  {SITE?.name}
</span>
